.main {
  padding: 80px;
}

.title {
  font-size: 90px;
}

.description {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #101010;
  width: 90%;
  line-height: 1.3;
}

.input {
  padding: 10px;
  border: 2px solid #000;
  background: transparent;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  color-scheme: light;
}

.box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.button {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  border: 3px solid #000;
  padding: 15px;
  background: #000;
  border-radius: 8px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button:hover:not(:disabled) {
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

.button:disabled {
  cursor: not-allowed;
  filter: brightness(40%);
}

.spinner {
  border: 2px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
  border-top-color: transparent;
  height: 20px;
  width: 20px;
  transition: opacity 0.15s 0.15s, width 0.15s, margin-left 0.15s;
  animation: spin 0.6s linear infinite;
}

.dropdownItem {
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdownItem:hover,
.dropdownItem:active,
.dropdownItem:focus {
  background-color: rgb(36, 36, 36);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grid {
  overflow: auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(auto-fill, 30px);
  grid-auto-flow: column;
  grid-gap: 5px;
}

/*media queries*/

@media only screen and (max-width: 768px) {
  .title {
    font-size: 70px;
  }

  .description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 598px) {
  .main {
    padding: 40px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 15px;
  }

  .box {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, 20px);
    grid-gap: 3px;
  }
}
